body
    {
        margin: 0;
        text-align: center;
        font-family: 'Merriweather', serif;
        color: #40514E;
    }

h1
    {
        font-size: 5.62rem;
        margin: 0;
        font-family: 'Sacramento', cursive;
        color: #1fab89;
    }

h2
    {
        font-family: 'Montserrat', sans-serif;
        font-size: 2rem;
        color: #1fab89;
        padding: 10px;
    }

h3
    {
        font-family: 'Montserrat', sans-serif;
        color: #11999E;
    }

.top-container
    {
        background-color: #d7fbe8;
        position: relative;
        padding: 100px;
        
    }

.middle-container
    {
        margin: 5% 0;
    }

.bottom-container
    {
        background-color: #62d2a2;
        padding: 2% 0 2%;
    }

.pro 
    {
        text-decoration: underline;
    }

.top-cloud
    {
        position: absolute;
        right: 23%;
        bottom: 87%;
        max-width: 100%;
    }

.bottom-cloud
    {
        position: absolute;
        right: 70%;
        max-width: 100%;
    }

.mountain
    {
        max-width: 70%;
        height: auto;
    }

a
    {
        color: #11999E;
        margin: 1%;
        text-decoration: none;
        
    }

a:hover
    {
        color: #EAf6F6;
    }

p   
    {
    line-height: 2;
    }

hr
    {
        border: dotted #EAf6F6 6px;
        border-bottom: none;
        width: 3%;
        margin: 5% auto;
    }

.subtitle
    {
        font-weight: normal;
    }

.skill-row
    {
        width: 50%;
        margin: 100px auto 100px auto;
        text-align: left;
    }

.devskill
    {
        width: 25%;
        float: left;
        margin-right: 5%;
    }

.reactskill
    {
        width: 25%;
        float:right;
        margin-left: 5%;
    }

.intro
    {
        width: 30%;
        margin: auto;
    }

.profile
    {
        width: 15%;
    }

.contactmsg
    {
        width: 40%;
        margin: 3% auto 4% ;
    }

    .btn {
        background: #40bd9e;
        background-image: -webkit-linear-gradient(top, #40bd9e, #38917e);
        background-image: -moz-linear-gradient(top, #40bd9e, #38917e);
        background-image: -ms-linear-gradient(top, #40bd9e, #38917e);
        background-image: -o-linear-gradient(top, #40bd9e, #38917e);
        background-image: linear-gradient(to bottom, #40bd9e, #38917e);
        -webkit-border-radius: 8;
        -moz-border-radius: 8;
        border-radius: 8px;
        font-family: 'Montserrat', sans-serif;
        color: #ffffff;
        font-size: 20px;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
      }
      
      .btn:hover {
        background: #4da891;
        background-image: -webkit-linear-gradient(top, #4da891, #59ab95);
        background-image: -moz-linear-gradient(top, #4da891, #59ab95);
        background-image: -ms-linear-gradient(top, #4da891, #59ab95);
        background-image: -o-linear-gradient(top, #4da891, #59ab95);
        background-image: linear-gradient(to bottom, #4da891, #59ab95);
        text-decoration: none;
      }
    
.copyright
      {
          color: #EAf6F6;
          font-size: 0.8rem;
          padding: 1%;
      }